* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.home {
    height: 100vh;
    width: 100%;
    background-color: #101010;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    background-color: #191919;
    border-bottom: 1px solid red;
}

.logo {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: red;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: red;
    transition: 0.5s;
}

.btn {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.2);
    border: 2px solid red;
    background-color: transparent;
}

.image {
    width: 20%; 
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 70%;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); 
    transition: transform 0.5s;
}

.image img:hover {
    transform: scale(1.1); /* Ubah skala pada hover */
}
.content{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
h1{
    color: white;
    font-size: 65px;
    margin: 20px 0 20px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.content a{
    font-size: 20px;
    background: red;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius:30px ;
    border: 2px solid white;
    transition: .5s;
}
.content a:hover{
    background: transparent;
    border: 2px solid red;
}
.about{
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
    
}
.about-me{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-me img{
    height: auto;
    width: 20%; /* Change the width to match the desired size */
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    transition: transform 0.5s;
}

.about-text{
    width: 550px;
}
.about-text h2{
    color: white;
    font-size:65px ;
    text-transform: capitalize ;
    margin-bottom: 20px;
    border-bottom: 1px solid red;

}
.about-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
color: #fff;
letter-spacing: 1px;
line-height: 28px;
font-size: 18px;
margin-bottom: 45px;
text-align: justify;
}
.button {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.5s;
}

.button:hover {
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.Service {
    background: #101010;
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h2 {
    color: white;
    font-size: 75px;
    text-align: center;
    margin-bottom: 50px;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card-1 {
        position: relative;
        width: 250px;
        height: 250px;
        background: url('3.png') center/cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
        margin: 0 20px;
        transform-style: preserve-3d;
    }
    .card-2 {
        position: relative;
        width: 250px;
        height: 250px;
        background: url('4.png') center/cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
        margin: 0 20px;
        transform-style: preserve-3d;
    }
    .card-3 {
        position: relative;
        width: 250px;
        height: 250px;
        background: url('5.png') center/cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
        margin: 0 20px;
        transform-style: preserve-3d;
    }
.card::before,
.card::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: white;
    transition: transform 0.5s ease-in 0s;
    z-index: 1;
}

.card::before {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card::after {
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.card_content {
    opacity: 0;
    transition: opacity 0.25s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.card_content:target {
  display: block;
}


.card:hover::before,
.card:hover::after {
    transform: translateY(0);
}

.card:hover .card_content {
    opacity: 1;
    transition-delay: 0.75s;
}
.card-1::before,
.card-2::before,
.card-3::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s ease-in 0s;
    z-index: 1;
}

.card-1::before {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card-2::before {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card-3::before {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card_content {
    opacity: 0;
    transition: opacity 0.25s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    color: red; 
}

.card-1:hover::before,
.card-2:hover::before,
.card-3:hover::before {
    transform: translateY(0);
}

.card-1:hover .card_content,
.card-2:hover .card_content,
.card-3:hover .card_content {
    opacity: 1;
    display: block;
    transition-delay: 0.75s;
}
.card {
    position: relative;
    display: inline-block;
}

.card_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    display: none;
}

.hover-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 194, 194, 0.8); 
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .hover-cover {
    opacity: 1;
}

.card:hover .card_content {
    display: block;
}
.card_content h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.card_content p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.read-more-button {
    background-color: red;
    color: white;
    border: 2px solid red;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.read-more-button:hover {
    background-color: transparent;
    color: red;
}

{box-sizing:border-box}

 .container {
   width: 100%; 
   background-color: #ddd;
    
   
 }


.Skill {
    text-align: center;
    padding: 50px 20px;
    background-color: #101010;
    margin-top: -100px; 
}

.Skill h2 {
    color: #fff;
}

.Skill p {
    color: #fff;
}

.container {
    width: 50%;
    margin: 20px auto;
    background-color: white; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.skills {
    text-align: center;
    padding: 10px 0;
    color: #fff;
    background-color: #191919;
    
    
}

.Webdeveloper {
    width: 20%;
    background-color: #2196F3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.WebDesign {
    width: 30%;
    background-color: #2196F3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.UIUX {
    width: 45%;
    background-color: #2196F3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Experience {
    text-align: center;
    padding: 50px 20px;
    background-color: #191919;
    position: relative;
}

.Experience h2 {
    color: white;
    font-size: 55px;
    margin-bottom: 20px;
}

.image-container {
    text-align: center;
    position: relative;
}

.image-container img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    transition: transform 0.3s;
}

.image-container img:active {
    transform: scale(1.1);
}
.scroll-btns {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.scroll-btn {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.scroll-btn i {
    font-size: 20px;
}

.scroll-btn:hover {
    background-color: #c70000;
}

.left-btn {
    position: absolute;
    left: 100px;
}

.right-btn {
    position: absolute;
    right: 120px;
}


.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    max-width: 800px; /* Sesuaikan ukuran maksimum sesuai kebutuhan */
}

.image-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #191919;
}

.image-text p {
    font-size: 18px;
    line-height: 1.6;
}


.WorkSample {
    text-align: center;
    padding: 50px 20px;
    background-color: #101010;
  }
  
  .WorkSample h2 {
    color: white;
    font-size: 55px;
    margin-bottom: 20px;
  }
  
  .WorkSample p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .WorkSample img {
    height: 100px;
    position: relative;
    margin: 0 10px;
    box-shadow: 1px 1px 3px #0008;
    transition: transform 0.4s ease-out, box-shadow 0.3s, z-index 0.3s;
    z-index: 0;
  }
  
  .WorkSample img:hover {
    transform: scale(1.5);
    box-shadow: 3px 4px 10px #0006;
    z-index: 999;
  }
  
  /* 3 images */
  .WorkSample img:nth-child(3) {
    offset-distance: 17%;
  }
  
  /* 4 images */
  .WorkSample img:nth-child(4) {
    offset-distance: 49%;
  }
  
  /* 5 images */
  .WorkSample img:nth-child(5) {
    offset-distance: 81%;
  }
  .contact {
    text-align: center;
    padding: 50px 20px;
    background-color: #191919;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    
        display: inline-block;
        padding: 5px 15px;
        border: 2px solid white;
        background-color: red;
        color: white;
        font-weight: bold;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .contact-form button:hover {
        background-color: transparent;
        color: red;
    }
  
  .social-media {
    margin-top: 20px;
  }
  
  .social-media a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: white;
    transition: color 0.3s;
  }
  
  .social-media a:hover {
    color: #4267b2;
  }
    
  footer {
    background-color: #101010;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }